{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-lg-6 align-self-center">
			<div class="m-3 m-lg-5">
				{% get_providers as socialaccount_providers %}

				<div class="text-center mt-4">
					<h1 class="h3">{% trans "Sign In" %}</h1>
					<p class="lead">
						{% blocktrans with site.name as site_name %}
							Please sign in with one of your existing third party accounts. Or, 
							<a href="{{ signup_url }}">sign up</a>
							for a {{ site_name }} account and sign in below:
						{% endblocktrans %}
					</p>
				</div>
		
				<form class="login" method="POST" action="{% url 'account_login' %}">
					{% csrf_token %}
					<div class="form-floating mb-3">
						<input type="email" class="form-control transparent-input" id="floatingInput" placeholder="name@example.com">
						<label for="floatingInput">Email address</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control transparent-input" id="floatingPassword" placeholder="Password">
						<label for="floatingPassword">Password</label>
					</div>
					<div class="text-end mt-4">
						<button type="submit" class="btn btn-success rounded-pill py-2 px-5">{% trans "Sign In" %}</button>
					</div>
		
					<div class="text-center text-muted mt-2">
						<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
					</div>
				</form>
			</div>
		</div>
		<div class="col-12 col-lg-6 d-none d-lg-flex vh-100 pe-0">
			<img class="cover" src="{% static 'img/photos/unsplash-3.jpg' %}"/>
		</div>
	</div>
</div>






<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
	<p>{% blocktrans with site.name as site_name %}Please sign in with one
	of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
	for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

	<div class="socialaccount_ballot">

	<ul class="socialaccount_providers">
		{% include "socialaccount/snippets/provider_list.html" with process="login" %}
	</ul>

	<div class="login-or">{% trans 'or' %}</div>

	</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
	<p>{% blocktrans %}If you have not created an account yet, then please
	<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>



{% endblock %}