//GENERAL SIZING --------------------------------
.vh-100{
	min-height:100vh;
}

// FORM STYLES ----------------------------------
.transparent-input{
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
	border: 0px solid rgba(0,0,0,0);
	border-bottom: 2px solid grey;
}


// IMAGES STYLES --------------------------------
.cover{
	object-fit: cover;
}

.contain{
	object-fit: contain;
}